.hover:hover {
  cursor: pointer;
  background-color: papayawhip;
}

.directory-name::before,
.file-name::before {
  width: 1.2em;
  margin: 0.2em;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.directory-name::before {
  content: url("../svg/arrow-empty.svg");
}

.file-name::before {
  content: url("../svg/circle.svg");
}

.toggled::before {
  content: url("../svg/arrow-filled.svg");
}

/* .file-name::before {
  content: "📃";
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  width: 1.2em;
} */

.directory {
}

.directory-inner {
}

.file-name,
.directory-name {
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
