.hover {
  cursor: pointer;
}

.hover:hover {
  background-color: papayawhip;
}

.directory-name::before,
.file-name::before {
  width: 1.2em;
  margin: 0.2em;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.directory-name::before {
  content: url("../svg/arrow-empty.svg");
}

.file-name::before {
  content: url("../svg/circle.svg");
}

.toggled::before {
  content: url("../svg/arrow-filled.svg");
}

.file-name,
.directory-name {
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}
